<html>
	<head>
		<title>Failure</title>
		<link rel="stylesheet" href="/static/css/materialize.min.css" />
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col s12">
					<div class="card-panel red lighten-1">
						<h3 class="center white-text">Try again</h3>
						<p class="center white-text">
							You have entered an incorrect password or a blank name. Please try again.
						</p>
						<div class="center">
							<a
								href="/"
								class="btn-large waves-effect waves-light white black-text"
								>Go back</a
							>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
